body{
    display: flex;
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: black;
}
/* Need a font and image for the page logo*/
/*Area behind the logo needs to be dark and transparent to enhance the logo's readability*/
/*Create account should be blue-toned, maybe pink text*/
/*password input boxes should be given an error class*/
/*Selected input should get its own box border color, use :focus */
/*Check for weird changes when browser is resized */
#displayColumn{
    width: 500px;
}
img{
    width: 500px;
}
#infoColumn{
    display: flex;
    flex-direction: column;
    width: 800px;
}
#header{
    background-color: lightgrey;
    margin-top: 20px;
    padding-top: 200px;
    padding: 80px;
}
#inputSection{
    background-color: whitesmoke;
    margin: 0px;
    padding: 50px;
}
form {
    display: flex;
    flex-direction: row;
}
#footer{
    background-color: lightgrey;
    margin: 0px;
    padding: 50px;
}
a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}