body{
    display: flex;
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: black;
}
/* Need a font and image for the page logo*/
/*Area behind the logo needs to be dark and transparent to enhance the logo's readability*/
/*Create account should be blue-toned, maybe pink text*/
/*password input boxes should be given an error class*/
/*Selected input should get its own box border color, use :focus */
/*Check for weird changes when browser is resized */
#displayColumn{
    margin-top: 20px;
    width: 550px;
}
#backImage{
    width: 550px;
    position: absolute;
}
#overlay{
    display: flex;
    color: #FEC790;
    background-color: rgba(0, 0, 0, .3);
    font-size: 60px;
    position: relative;
    justify-content:center;
    align-items: center;
    padding: 0px;
    margin-top: 30px;
}
.aperture{
    width: 30px;
}
#infoColumn{
    display: flex;
    flex-direction: column;
    width: 1200px;
}
#header{
    background-color: #E7E6E5;
    margin-top: 20px;
    padding-top: 150px;
    padding: 30px;
    position: relative;
}
#inputSection{
    background-color: whitesmoke;
    margin: 0px;
    padding: 30px;
    padding-left: 200px;
    position: relative;
}
form {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
}
input {
    border-radius: 6px;
    font-size: 24px;
}
input:invalid {
    border: none;
    outline: 4px solid red;
}
input:focus:valid{
    border: none;
    outline: 3px solid lightblue;
}
#footer{
    background-color: #E7E6E5;
    margin: 0px;
    padding: 35px;
    position: relative;
}
button {
    border-radius: 6px;
    font-size: 24px;
    background-color: #F9EBD5;
}
a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}